html body{
  height: 100%;
  font-family: 'Spicy Rice', cursive;
}

body {
  background-image: url("../images/dog.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div body {
  margin:0;
  padding:0;
}

.bg {
  height: 100%;
  width: 100%;
}


.h1 {
  margin: 80px 0px 30px 0px !important;
  color:rgb(252, 213, 105) !important;
  font-size: 60px !important;
}

p {
  color:rgb(252, 213, 105) !important;
}

form {
  padding: 5px;
  margin: 100px 0px 50px 50px;
  font-size: 20px;
}

#add-dogs {
  background-color:rgb(255, 72, 0);
  font-size: 15px;
  padding:5px 15px 5px 15px;
  border:rgb(255, 94, 0) solid 1.5px;
  border-radius: 2px;
  color:white;
}

#buttons-view {
  margin-top:15px;
}

#buttons-view button {
  background-color: rgb(252, 213, 105);
  margin: 6px 13px 6px 0px !important;

}

#buttons-view button:hover {
  background-color:rgb(255, 72, 0);
  color:white;
  cursor: pointer;
}

#add-dogs:hover {
  cursor: pointer;
  color:black;
  background-color:rgb(250, 192, 0);
}

#dogs-view {
  margin:20px 0px 30px 0px;
}

.doggy {
  width: 240px;
  height: 200px;
  display: block;

}

.doggy:hover {
  cursor: pointer;
}

.dogBox {
  float:left;
  border-radius: 4px;
  margin: 5px 0px 5px 30px;
  display:block;
  font-size: 15px;
  background-color:whitesmoke;
  border: 10px solid whitesmoke;
}

.tag p {
  margin-bottom: 0px !important;
  margin-top: 5px;
  color: black !important;
}

.footer-div {
  background-color: rgba(64, 157, 233, 0.521);
}

.footer-div p{
  padding: 15px;
  margin: 0px !important;
}
